<p id="notice"><%= notice %></p>

<h3>Event </h3>
<%= @eventTitle %> <%=@eventCoords%>

<h3>@Temp</h3>
<% @neighbours_array.each do |d| %>
<%= d %></br>
<%end%>






<h3>Data</h3>

<% @neighbours_array.each do |d| %>
<%= d %></br>
<%end%>

<h3>@Present</h3>
<% @present.each do |d| %>
<%= d %>

<%end%>





