<p id="notice"><%= notice %></p>

<h3>Event </h3>
<%= @eventTitle %> <%=@eventCoords%>

<h3>@Temp</h3>
<% @neighbours_array.each do |d| %>
<%= d %></br>
<%end%>


<h3>Data</h3>
<% @neighbours_array.each do |d| %>
<%= d %></br>
<%end%>

<h3>First_User</h3>
<%= @temp %>

<h3>@Temp[]</h3>
<%= @t %>


<h3>@Present</h3>
<%= @present %>

<h3>@PresentFinal</h3>
<%= @presentFinal  %>

<h3>@PresentFinal.Length</h3>
<%= @presentFinal.length  %>

<h3>@Boubdary</h3>
<%= @boundary  %>


<h3>@PresentTemp</h3>
<%= @presentTemp  %>

<h3>@nextData</h3>
<%= @nextData  %>


<h3>@s</h3>
<%= @s  %>








